.loginCard {
    max-width:328px !important;
    margin:2em auto;
    text-align:center;
    max-height:600px;
}
.body {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-image: url(https://fondosmil.com/fondo/73237.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

.header {
  text-align: center;
}

.full-width {
  width: 80%;
}


