<mat-card style="margin: 20px 40px 40px 40px">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let sucursal of sucursales">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ sucursal.nombre }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        <h3>{{ sucursal.nombre }}</h3>
        <p>{{ sucursal.ubicacion }}</p>
        <button mat-icon-button (click)="decrementarContador(sucursal.id)">-</button>
        <span>{{ contadorPersonas[sucursal.id] }}</span>
        <button mat-icon-button (click)="incrementarContador(sucursal.id)">+</button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
