<mat-card style="margin: 20px 40px 40px 40px">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let sucursal of sucursales">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ sucursal.nombre }}
        </mat-panel-title>
      </mat-expansion-panel-header>


      <p>{{ sucursal.nombre }}</p>
      <button mat-icon-button (click)="decrementarContador(sucursal.nombre)">-</button>
      <span>{{ contadorPersonas[sucursal.nombre] }}</span>
      <button mat-icon-button (click)="incrementarContador(sucursal.nombre)">+</button>


    </mat-expansion-panel>
  </mat-accordion>
  <p>{{ apiStatus }}</p>
</mat-card>
